<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="{{ url_for('static', filename='output.css') }}"
      rel="stylesheet"
    />
  </head>

  <!-- main content  -->
  <body class="bg-gray-100 p-4">
    <div class="container mx-auto">
      <header class="flex justify-between items-center pb-4 border-b">
        <h1 class="text-2xl font-bold">Gestion des Fichiers</h1>
        <button
          onclick="location.href='{% if user_info[3] %}{{ url_for('admin.admin', username=user_info[1]) }}{% else %}{{ url_for('user.user_settings_page', username=user_info[1]) }}{% endif %}'"
          class="btn-custom text-white px-4 py-2 rounded-md"
        >
          Back
        </button>
      </header>

      <div class="drop-container" id="dropContainer">
        <p>Glissez-déposez vos fichiers ici ou cliquez pour sélectionner</p>
        <input type="file" id="fileInput" multiple class="hidden" />
        <!-- recupérer ici l'id ? et le faire passer au JS ... -->
      </div>

      <!-- Tableau des fichiers -->
      <div class="overflow-x-auto bg-white rounded-lg shadow-md p-4 my-4">
        <table class="min-w-full bg-white border border-gray-200">
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
            >
              <th class="py-3 px-6 text-left">Nom du fichier</th>
              <th class="py-3 px-6 text-left">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6">
                <a
                  href="{{ url_for('file.download_file', user_id=user_info[0], filename=file) }}"
                  class="text-blue-500 hover:underline"
                  download="{{ file }}"
                >
                  {{ file }}
                </a>
              </td>

              <form
                action="{{ url_for('file.delete_file_route') }}"
                method="POST"
              >
                <input type="hidden" name="file_name" value="{{ file }}" />
                <button type="submit" class="text-red-500 hover:underline">
                  Supprimer
                </button>
              </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='file.js') }}"></script>
  </body>
</html>
