<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="../static/output.css" rel="stylesheet" /> -->
    <link
      href="{{ url_for('static', filename='output.css') }}"
      rel="stylesheet"
    />

    <!-- add output file tailwindcss !!  -->
  </head>
  <body>
    <!-- bg-gray-100 -->
    <div class="flex items-center justify-center h-screen bg-custom">
      <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h1 class="text-xl font-bold text-center mb-4 txt-custom">
          Welcome back
        </h1>
        <form action="/login" method="POST">
          <div class="mb-4">
            <label for="username" class="block text-gray-700">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
            />
          </div>
          <div class="mb-4">
            <label for="password" class="block text-gray-700">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
            />
          </div>
          <button
            type="submit"
            class="w-full btn-custom text-white py-2 rounded-md"
          >
            login
          </button>

          <!-- TEST -->
          {% if loging_msg %}
          <div class="text-black rounded-md col-span-4">
            {{ loging_msg }}
          </div>
          {% endif %}
          <!-- end TEST -->
        </form>
      </div>
    </div>
  </body>
</html>
