<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- <link href="../static/output.css" rel="stylesheet" /> -->
    <link
      href="{{ url_for('static', filename='output.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="flex min-h-screen">
      <!-- Sidebar -->
      <div class="w-64 bg-white shadow-md">
        <div class="p-4">
          <h1 class="text-lg font-bold">Dashboard</h1>
        </div>
        <nav class="mt-4">
          <ul>
            <li class="p-2 hover:bg-gray-200">
              <a href="#" class="flex items-center space-x-2">
                <span>🏠</span>
                <span>Accueil</span>
              </a>
            </li>
            <li class="p-2 hover:bg-gray-200">
              <a href="#" class="flex items-center space-x-2">
                <span>📊</span>
                <span>Users</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Main Content -->
      <div class="flex-1 p-6">
        <header class="flex justify-between items-center pb-4 border-b">
          <h1 class="text-2xl font-bold">Welcome back, user</h1>
          <button
            onclick="location.href='/logout'"
            class="btn-custom text-white px-4 py-2 rounded-md"
          >
            Logout
          </button>
        </header>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
          <div
            class="bg-white shadow-md p-4 rounded-lg col-span-4 flex justify-between items-center"
          >
            <h2 class="text-xl font-bold">Add a new user</h2>
            <button
              onclick="document.getElementById('addUserModal').classList.remove('hidden')"
              class="bg-blue-500 text-white px-4 py-2 rounded-md"
            >
              Here
            </button>
          </div>

          <!-- Modal -->
          <div
            id="addUserModal"
            class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50"
          >
            <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
              <h2 class="text-lg font-bold mb-4">Add a New User</h2>
              <form method="POST" action="/add_user">
                <div class="mb-4">
                  <label class="block text-sm font-medium text-gray-700"
                    >Username</label
                  >
                  <input
                    type="text"
                    name="username"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    required
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="email"
                    class="block text-sm font-medium text-gray-700"
                    >Mail</label
                  >
                  <input
                    type="email"
                    name="email"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    required
                    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"
                    title="Veuillez entrer une adresse e-mail valide (ex : exemple@domaine.fr)"
                  />
                </div>
                <div class="flex justify-end">
                  <button
                    type="button"
                    onclick="document.getElementById('addUserModal').classList.add('hidden')"
                    class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md mr-2"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn-custom text-white px-4 py-2 rounded-md"
                  >
                    Add User
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- End modal  -->

          <!-- Example card  -->
          <div class="bg-white shadow-md p-4 rounded-lg col-span-4">
            <h2 class="text-xl font-bold mb-4">IP map</h2>

            <div class="map-container" style="height: 300">
              {{ map_html | safe }}
            </div>
          </div>

          <!-- logs section  -->
          <div class="bg-white shadow-md p-4 rounded-lg col-span-4">
            <h2 class="text-xl font-bold mb-4">Derniers Logs</h2>
            <div class="h-96 overflow-y-auto">
              <ul class="space-y-2">
                {% for log in logs %}
                <li class="p-2 bg-gray-50 rounded shadow-sm text-sm font-mono">
                  {{ log }}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- End logs section  -->
        </div>
      </div>
    </div>
  </body>
</html>
